ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
    text-align: center;
  }

body {
    background-color:blueviolet;
}
footer {   
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#999;
 }
 img {
    position:fixed;
    
 }

 .button {
    float: right;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .button1 {background-color: #4CAF50;} /* Green */
  .button2 {background-color: #008CBA;} /* Blue */